*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video,
frame {
    max-width: 100%;
    height: auto;
}

body {
    background: url(media/baaa-facade-1600x1000.jpg);
    object-fit: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    backdrop-filter: blur(5px);



}

.blue {
    background: rgba(52, 198, 255, 0.6);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


}

header {
    display: flex;
    justify-content: flex-start;
}

.header-video {
    width: 100vw;
    height: 30vh;
    margin-bottom: 10px;
}

.logo {
    width: 40vw;
    margin: 5vw;
    position: absolute;

}

main {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-width: 55vw;
}

.main-title {
    color: white;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
    width: auto;


}



.nav-btn {
    text-decoration: none;
    color: white;
    background: rgba(167, 167, 167, 0.3);
    margin: auto;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    text-align: center;
    border-radius: 20px;

}

.visitor-video {
    border: black solid 2px;
    /*delete later*/
    width: 100vw;
    display: flex;




}


/*
 Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {
    body {}
}
*/
